.contacts.section {
    background-color: #f9f8f8;
    color: #010400;
    padding: 80px 0;
 
}


.container.contacts-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.contacts-left-side,
.form-image-wrapper {
    width: 100%;
}

.subtitle {
    display: block;
    color: #010400;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
   
}

.title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
    margin-top: 0;
}

.title-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
    margin-top: 0;
}


.method-item {
    margin-bottom: 16px;
}

.contact-link {
    color: #525C60;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: color 0.3s;
}

.contact-link:hover {
    color: #7EB12D;
}


.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.form-group:first-child label {
    margin-top: 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: transparent;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid rgba(1, 4, 0, 0.15);
    outline: none;
    font-family: inherit;
    transition: border-color 0.3s;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.submit-btn {
    background: #1a5901;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #1a5901;
    cursor: pointer;
    margin-top: 24px;
    transition: background-color 0.3s;
}


.form-image-wrapper {
    height: 343px;
}

.contact-form-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (min-width: 768px) {
    .submit-btn {
        width: 343px;
    }

    .form-image-wrapper {
        height: 637px;
    }
}


@media screen and (min-width: 1440px) {
    .container.contacts-content {
        flex-direction: row;
        align-items: stretch;
        height: 757px;
        gap: 80px;
    }

    .contacts-left-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-image-wrapper {
        flex: 1;
        height: 757px;
    }

    .contact-form-icon {
        height: 757px;
    }

    .submit-btn {
        width: 198px;
    }

 
    .contacts-methods {
        margin-top: auto;
        margin-bottom: 24px;
    }
}